* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #050505, #111827, #050505);
    color: white;
    text-align: center;
}


/* Navbar */

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

    padding: 18px;

    background: rgba(0,0,0,0.9);
    border-bottom: 1px solid #00ffcc;
}


.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.navbar a:hover {
    color: #00ffcc;
}


/* Logo */

.logo {
    color: #00ffcc;
}


.logo-image {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 0 30px #00ffcc;
}



/* Hero */

.hero {
    padding: 80px 20px;
}


.hero h1 {
    font-size: 45px;
    color: #00ffcc;

    text-shadow:
    0 0 10px #00ffcc,
    0 0 30px #00ffcc;
}


.hero p {
    font-size: 20px;
    color: white;
}



/* Buttons */

button {

    background:
    linear-gradient(90deg,#00ffcc,#0099ff);

    color:white;

    border:none;

    padding:12px 30px;

    margin:10px;

    border-radius:30px;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;

    box-shadow:0 0 15px #00ffcc;
}


button:hover {

    transform:scale(1.08);

    background:
    linear-gradient(90deg,#0099ff,#00ffcc);

}



/* Cards */

.card {

    background:
    rgba(255,255,255,0.05);

    max-width:750px;

    margin:25px auto;

    padding:30px;

    border-radius:20px;

    border:1px solid #00ffcc;

    box-shadow:
    0 0 20px rgba(0,255,204,0.25);

    animation:show 0.8s ease;

    transition:0.4s;

}


.card:hover {

    transform:translateY(-10px);

    box-shadow:
    0 0 35px #00ffcc;

}



.card h2 {

    color:#00ffcc;

}



.card p {

    font-size:18px;

    line-height:1.6;

}



/* Contract */

textarea {

    width:90%;

    padding:15px;

    background:#111;

    color:#00ffcc;

    border:1px solid #00ffcc;

    border-radius:10px;

}



/* Footer */

footer {

    background:#000;

    padding:25px;

    margin-top:50px;

    color:#888;

}



/* Animation */

@keyframes show {

    from {

        opacity:0;

        transform:translateY(40px);

    }


    to {

        opacity:1;

        transform:translateY(0);

    }

}



/* Mobile */

@media(max-width:600px){


.navbar {

    flex-direction:column;

    gap:10px;

}


.hero h1 {

    font-size:32px;

}


.card {

    width:90%;

}


button {

    width:80%;

}


}
